.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name {
    color: peachpuff;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}

#main {
    margin: 30px;
    border: 1px solid black;
    padding: 10px;
}

.message {
    padding: 5px;
}

.right {
    align-self: flex-end;
    background-color: rgb(131, 196, 239);
    border-radius: 50px;
}

.left {
    align-self: flex-start;
    background-color: rgb(206, 205, 205);
    border-radius: 50px;
}
