* {
    margin: 0;
    padding: 0;
}

.grid-container > div {
    border: 6px white solid;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    justify-content: center;
    align-items: center;    
}

.box1 {
    background-color:  limegreen;
    grid-column: 1/3;
}
.box2 {
    background-color: darkorange;
    grid-column: 3/5 ;
}

.box3 {
    background-color:  pink;
    grid-column: 1/2;
}

.box4 {
    background-color:  rebeccapurple;
    grid-column: 2/5;
    
}
.box5 {
    background-color:  lightblue;
    grid-column: 1/-1 ;
    grid-row: 3;
}