*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1{
    margin: 5px;
}
p{
    margin: 5px;
}

.movie-container, .tvShow-container{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    margin-bottom: 20px;

}

.movie, .tvShow{
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

.filter-form{
    width: 300px;
    margin: 5px;
}
