.myForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div{
    padding: 10px;
}

input{
    width: 50px;
}

button{
    color: rgb(255, 255, 255); 
    font-family: Georgia, serif; 
    font-weight: normal;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(163, 161, 161) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); 
}