*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

input{
    width: 250px;
    height: 32px;
    margin: 10px;
    text-align: center;
}

button{
    width: 100px;
    height: 25px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}

.form-container form {
    padding: 5px;
    margin: 2px;
}

.delete-btn{
    margin-top: 5px;
    width: 100px;
    height: 25px;
    background-color: rgb(206, 31, 54);
    color: white;
    border-radius: 10px;
}

.edit-btn{
    background-color: rgb(60, 60, 181);
    color: white;
    margin: 4px;
}
