body{
    font-family: sans-serif;
    font-size: bold;
    /* background-image: url('img/travel.jpg'); */
    background-repeat: no-repeat;
}

.userInfo, .travelOption, .food {
    display: flex;
    flex-direction: column; 
}

input{
    margin: 10px;
}

button{
    margin: 5px;
}

